.error {
  grid-area: b;
  justify-self: center;
  width: 90vw;
  max-width: 360px;
  font-size: 14px;
  text-align: center;
  color: #ff2828;
  margin: 10px 0 0;
}
.error.hongbao{
  color: #fbbb5d;
}
