.wrapper{
  height: 48px;
  width: 90vw;
  max-width: 360px;
  position: relative;
  display: flex;
  border: 3px solid #a463b0;
  border-radius: 25px;
  outline: none;
  background-color: #000000bf;
}

.select{
  border: 0;
  border-radius: 25px;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #000000bf;
  box-sizing: border-box;
  text-align-last: center;
  -moz-text-align-last: center;
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  height: 100%;
  max-width: 95%;
  padding: 0 25px;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1.5em;
  top: 0;
  bottom: 0;
  height: 100%;
  vertical-align: text-bottom;
  pointer-events: none;
  color: white;
  font-weight: bold;
}

.input {
  height: 48px;
  width: 90vw;
  max-width: 360px;
  position: relative;
  display: flex;
  border: 3px solid #a463b0;
  border-radius: 25px;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #000000bf;
  box-sizing: border-box;
}
.label {
  display: flex;
  justify-content: center;
}
