.wrapper {
  height: 48px;
  width: 90vw;
  max-width: 360px;
  position: relative;
  display: flex;
  border: 3px solid #a463b0;
  border-radius: 25px;
  outline: none;
  background-color: #000000bf;
}

.wrapper.hongbao {
  height: 42px;
  border: double 3px transparent;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    linear-gradient(269.17deg, #ffc860 0%, #e3935b 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.wrapper.ethdenver{
  background-image: linear-gradient(#000, #000), linear-gradient(
          -90deg
          , #A463B0 0%, #5f8afa 100%);
  border: double 3px transparent;
  border-radius: 25px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.select {
  border: 0;
  border-radius: 25px;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #000000bf;
  box-sizing: border-box;
  text-align-last: center;
  -moz-text-align-last: center;
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  height: 100%;
  max-width: 100%;
  padding: 0 25px;
}

.select.hongbao {
  background-color: #7f1218f0;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.75em;
  top: 0;
  bottom: 0;
  height: 100%;
  vertical-align: text-bottom;
  pointer-events: none;
  color: white;
  font-weight: bold;
}

.input {
  height: 48px;
  width: 90vw;
  max-width: 360px;
  position: relative;
  display: flex;
  border: 3px solid #a463b0;
  border-radius: 25px;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #000000bf;
  box-sizing: border-box;
}
.input.hongbao {
  padding: 0.5rem;
  border: double 3px transparent;
  border-radius: 25px;
  background-image: linear-gradient(#7f1218f0, #7b1218),
    linear-gradient(269.17deg, #ffc860 0%, #e3935b 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.input.hongbao::placeholder {
  color: #fff !important;
}

.input.ethdenver{
  background-image: linear-gradient(#000, #000), linear-gradient(
          -90deg
          , #A463B0 0%, #5f8afa 100%);
  border: double 3px transparent;
  border-radius: 25px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.error.hongbao {
  color: #fbbb5d;
  text-shadow: none;
}
.label {
  display: flex;
  justify-content: center;
}
