.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto 70px;
  grid-template-areas:
    'a'
    'b'
    'c'
  ;

  background-image: url(../images/background-2005-1388.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 650px) {
  .container {
    background-size: auto 100%;
  }
}
@media (min-width: 1920px) {
  .container {
    background-image: url(../images/background-3343-2234.jpg);
    background-size: 100% 100%;
  }
}

.loader {
  grid-area: b;
  display: flex;
  justify-content: center;
}
