.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto 70px;
  grid-template-areas:
    'a'
    'b'
    'c';
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.miami {
  background-image: url(../images/miami/background-2005-1388.jpg);
}
.newYork {
  background-image: url(../images/newYork/background-2005-1388.jpg);
}
.sf {
  background-image: url(../images/sf/background-2005-1388.jpg);
}
.hongbao{
  background-image: url(../images/hongbao/background.png);
  background-size: auto;
  background-position: left top;
  background-repeat: repeat;
  background-color: #C1262E;
}

.loader {
  grid-area: b;
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .container {
    background-size: auto 100%;
  }
  .container.hongbao {
    background-size: auto;
  }
}

@media (min-width: 1920px) {
  .container {
    background-size: 100% 100%;
  }
  .container.hongbao{
    background-size: auto;
  }
  .miami {
    background-image: url(../images/miami/background-3343-2234.jpg);
  }
  .newYork {
    background-image: url(../images/newYork/background-3343-2234.jpg);
  }
  .sf {
    background-image: url(../images/sf/background-3343-2234.jpg);
  }
}
