.container {
  grid-area: c;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.container > a {
  color: inherit;
  text-decoration: none;
}

.builtNear {
  padding: 10px;
}