.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33 21 39 / 75%);
  padding: 40px 20px;
  border-radius: 20px;
}

.h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  text-shadow: 0 2px 10px #000000;
  text-align: center;
}

.h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 30px 0;
  text-shadow: 0 2px 10px #000000;
  text-align: center;
}

.label {
  display: flex;
  width: 360px;
  margin-top: 10px;
}

.labelText {
  font-size: 14px;
}
.disclaimer {
  text-decoration: underline;
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font-size: 14px;
  outline: none;
}

.checkbox {
  color: #a463b0!important; /* TODO  Fix this*/
}
