.container {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33 21 39 / 75%);
  border-radius: 20px;
  padding: 40px 20px;
  justify-self: center;
  align-self: baseline;
}

.container.hongbao {
  background: linear-gradient(169.23deg, #DB5555 1.26%, #C1262E 92.01%);
  box-shadow: 0px 2px 20px 0px #00000080;
  position: relative;
  max-width: 360px;
}
.contentWrapper{
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerWrapper{
  height: 196px;
}
.header {
  background-image: url(../../images/hongbao/header.png);
  background-size: cover;
  height: 144px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 144px;
  height: 144px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grecaptcha-badge {
  bottom: 90px !important;
}

@media (max-width: 650px) {
  .container {
    padding: 20px 10px;
    align-self: center;
  }
}

.h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  text-shadow: 0 2px 10px #000000;
  text-align: center;
}
.h1.hongbao{
  text-shadow: none;
}
.h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 10px 0;
  text-shadow: 0 2px 10px #000000;
  text-align: center;
}
.h2.hongbao{
  text-shadow: none;
}
.label {
  display: flex;
  width: 90vw;
  max-width: 360px;
  margin-top: 10px;
}

.labelText {
  font-size: 14px;
}
.disclaimer {
  text-decoration: underline;
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font-size: 14px;
  outline: none;
}

.checkbox {
  color: #a463b0!important; /* TODO  Fix this*/
}

.checkbox.hongbao {
  color: #f2b05d!important;
}

