.button {
  height: 48px;
  min-width: 200px;
  border-radius: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #a463b0 0%, #5f8afa 100%);
  box-shadow: 0 0 10px #000000;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.button > span {
  margin-right: 4px;
}
